.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.title {
  color: var(--gray-600);
  font: var(--font-base);
  font-weight: 700;
}
