.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background-color: var(--surface-color);
  border-radius: 1.2rem;
  padding: 2.4rem;
}

.button {
  margin-top: 2.4rem;
}

.error {
  font: var(--font-s);
  color: var(--red-500);
  font-weight: 500;
}

.title {
  font: var(--font-xl);
  font-weight: 500;
}
