.header {
  border-bottom: 1px solid var(--gray-50);
}

.inner {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex: 1;
}

.logo {
  fill: var(--primary-color);
}

.address {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.search {
  flex-shrink: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex: 1;
  justify-content: flex-end;
}

.cart {
  display: flex;
  align-items: center;
}

.cartIcon {
  position: relative;
  display: flex;
}

.cartCount {
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  min-width: 1.6rem;
  height: 1.6rem;
  padding: 0 0.3rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
}
