.tabs {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.trigger {
  color: var(--gray-700);
  background-color: var(--gray-50);
  border: 1px solid var(--gray-100);

  &.active {
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-color: var(--primary-color);

    svg {
      fill: var(--primary-color);
    }
  }
}
